@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Permanent+Marker&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

.timer-frame {
    width: 1920px;
    height: 1080px;
    background-image: url("./assets/Timer Pilketos 26'.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.timer-container {
    text-align: center;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(1deg);
    width: 1000px;
}

#timerValue {
    font-family: 'Permanent Marker', cursive;
    font-size: 320px;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: 15px;
    font-variant-numeric: tabular-nums;
}

.timer-label {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-top: 50px;
    opacity: 0.8;
    text-transform: uppercase;
    color: #555;
}